.myskill{
	background-color: #393939;
	padding-bottom: 90px;
}

.myskill-wrapper{
	width: 1000px;
	max-width: 1000px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 90px;
	background-color: #393939;
}

.title-skill{
	position: absolute;
	font-weight: normal;
	padding-bottom: 30px;
	color: #fff;
	margin-top: 90px;
	
}
.title-skill:after{
    content: "";
    background-color: #cf0099;
    width: 70px;
    height: 2px;
    position: absolute;
    display: inline-block;
    margin-top: 45px;
    left: 0;
}

.myskill-col{
	width: 33.3%;
	max-width: 33.3%;
	box-sizing:border-box;
	margin-top: 160px;
	color: #cbcbcb;
}

.row{
	padding-bottom: 25px;
}
.row h5{
	margin-bottom: 20px;
}
.skill-level{
	display: flex;
	justify-content: space-between;
}

.standart-level{
	width: 240px;
	height: 4px;
	background-color: #acacac;
	display:inline-block;

}
.mylevel{
	width: 180px;
	height: 4px;
	background-color: #ae53c5;
	display:inline-block;
	position: absolute;
}

.mylevel:after{
	content: "";
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    margin-left: 180px;
    margin-top: -8px;
    background-color:#ae53c5;
}

.skill-number{
	float: right;
    margin-top: -11px;
    margin-right: 48px;
    font-size: 16px;
}

.mylevel2{
	width: 160px;
	height: 4px;
	background-color: #ae53c5;
	display:inline-block;
	position: absolute;
}

.mylevel2:after{
	content: "";
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    margin-left: 160px;
    margin-top: -8px;
    background-color:#ae53c5;
}


.mylevel3{
	width: 190px;
	height: 4px;
	background-color: #ae53c5;
	display:inline-block;
	position: absolute;
}

.mylevel3:after{
	content: "";
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    margin-left: 190px;
    margin-top: -8px;
    background-color:#ae53c5;
}
.mylevel4{
	width: 150px;
	height: 4px;
	background-color: #ae53c5;
	display:inline-block;
	position: absolute;
}

.mylevel4:after{
	content: "";
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    margin-left: 150px;
    margin-top: -8px;
    background-color:#ae53c5;
}

.mylevel5{
	width: 190px;
	height: 4px;
	background-color: #ae53c5;
	display:inline-block;
	position: absolute;
}

.mylevel5:after{
	content: "";
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    margin-left: 190px;
    margin-top: -8px;
    background-color:#ae53c5;
}

.mylevel6{
	width: 160px;
	height: 4px;
	background-color: #ae53c5;
	display:inline-block;
	position: absolute;
}

.mylevel6:after{
	content: "";
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    margin-left: 160px;
    margin-top: -8px;
    background-color:#ae53c5;
}

.mylevel7{
	width: 140px;
	height: 4px;
	background-color: #ae53c5;
	display:inline-block;
	position: absolute;
}

.mylevel7:after{
	content: "";
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    margin-left: 140px;
    margin-top: -8px;
    background-color:#ae53c5;
}

.mylevel8{
	width: 190px;
	height: 4px;
	background-color: #ae53c5;
	display:inline-block;
	position: absolute;
}

.mylevel8:after{
	content: "";
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    margin-left: 190px;
    margin-top: -8px;
    background-color:#ae53c5;
}
.mylevel9{
	width: 150px;
	height: 4px;
	background-color: #ae53c5;
	display:inline-block;
	position: absolute;
}

.mylevel9:after{
	content: "";
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    margin-left: 150px;
    margin-top: -8px;
    background-color:#ae53c5;
}

.myskill-col3{
	max-width: 33.3%;
    box-sizing: border-box;
    margin-top: 160px;
    color: #cbcbcb;
    display: flex;
    flex-direction: column;
    margin-right: 48px;
}

.skill-number3{
	float: right;
    margin-top: -11px;
    margin-right: -48px;
    font-size: 16px;
}