*{
	font-family: 'Dosis', sans-serif;
}
a{
	text-decoration: none;
}
body{
	text-align: center;
	margin:0;
	padding: 0;
}

img{
	width: 100%;
}
/*
img:hover{
	@include translate(0px, 160px);
}
*/
.clear{
	clear: both;
}
.header{
	width: 100%;
    max-width: 1000px;
    margin: 50 auto;
}

.main-menu{
	box-sizing: border-box;
	width: 1000px;
	position: relative;
}

.left-menu{
	position: absolute;
	float: left;
}

.feature{
	display:inline-block;
}

.feature:before{
	content: "";
    background-color: #e50f88;
    width: 3px;
    height: 37px;
    margin-right: 20px;
    display: block;
    float: left;
    display:inline-block;
    margin-top: -3px;

}

.feature:after{
	content: "";
    background-color: #e50f88;
    width: 3px;
    height: 37px;
    margin-left: 20px;
    display: block;
    float: right;
    display:inline-block;
    margin-top: -3px;

}

.feature a{
	color:#4d4d4d;
}

.feature a:hover{
	color:#e50f88;

}

.left-menu span{
	display: inline-block;
	padding-left: 20px;
}



.right-menu{
	float: right;
	right:0px;
}

.right-menu ul{
	list-style-type: none;
}

.right-menu li{
	display: inline-block;
	padding-left: 2px;
	font-size: 16px;

}

.right-menu a{
	color: #1e1e1e;
	cursor:pointer;
}

.right-menu a:hover{
	color:red;
}

.selected a{
	color:#e50f88;
	
}

.product-wrapper{
	position: relative;
	width: 1000px;
	height:500px;
	box-sizing: border-box;
	margin:auto;
}
.row-wrapper{
	width: 1000px;
	box-sizing: border-box;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}
.product{
	position: relative;
	width: 25%;
	box-sizing: border-box;
	float: left;


}

.product-img{
	position: relative;
	height: 338px;
}
.product-img img{
	width: 90%;
	box-sizing: border-box;
	float: left;
	left:0;
}

.icon{
	z-index: 10;
	position: relative;
	width: 25px;
	height: 180px;
	right:-132px;
	top:80px;
}

.icon ul{
	list-style-type: none;
	display: block;
	position: absolute;
	

}

.icon ul li{
  	color:#dc509f;
  	padding:5px;
}

.icon ul li i{
	color: #dc509f;
	padding:10px;
	background-color: white;
	opacity: 0.5
}

.icon ul li i:hover {
	color: #dc509f;
	padding:14px;
	background-color: white;
	opacity: 1;
	transition: 0.5s;
	cursor: pointer;

}

.additem{
    position: absolute;
    top: 276px;
    float: right;
    right: 0px;
    
}

.additem i{
	color: #dc509f;
	padding:14px;
	background-color: white;
	opacity: 0.7;
    position: absolute;
    right: 25px;
	float: right;
    
}

.additem i::after{
	content: "ADD TO CARD";
	width: 100px;
	padding-left: 10px;
	font-size: 14px;

	display: inline-block;
}

.additem i:hover{
	background-color: #c80163;
	color: white;
	opacity: 1;
	cursor: pointer;
}



.item-discription{
	text-align: left;
	position: relative;
	margin-top: 20px;

}
.item-name{
	font-weight:  bold;
	margin-bottom: 10px;
}

.item-price{
	font-size: 16px;
	color:#e50f88;
	list-style: none;
}

.item-price li{
	display: inline-block;
	padding-right: 10px;
}

.oldprice{
	color: #1e1e1e;
	text-decoration: line-through;
}
