body{
    margin:auto;

}
.clear{
    clear:both;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color:#eb1600;
    z-index: 500;

}

.main-menu{
    position: relative;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 71px;
    z-index: 400; 
    background-color: #333;
    opacity: 0.9;

}
.main-menu-wrapper{
    max-width: 1000px;
    text-align: center;
    margin:auto;
    position: relative;
}

.main-menu ul {
    list-style-type: none;   
    padding: 0;
    overflow: hidden;
    float:left;
    position: absolute;
    z-index: 5;
    left: 360px;
    margin-top: 0px;
    box-sizing: border-box;
    display: inline-block;

}
#logo{
    position: absolute;
    top:10px;
    left: 0px;
    float: left;

    z-index: 5000;
    display: inline-block;
    box-sizing: border-box;
}
#logo img{
    max-width: 130px;
}
.icon{
    float: right;
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 0px;

}
.icon:hover{
    -webkit-animation-name: shake;
  animation-name: shake 4s infinite;
}

/*
li {
    float: left;
    padding-left:30px;
}

li a  {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;

}

li a:hover, .dropdown:hover {
    background-color: red;
    overflow: visible;

}

li.dropdown {
    display: inline-block;
}
.dropbtn{
    padding: 24px 16px; 
    border: none;
    z-index: 2000;
    height: 71px;

}

.dropbtn:hover{
    background-color: red;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #888;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1000;

}
*/
.navbar {
    padding-top:13px;
    background-color: #333;
    font-size: 16px;
    position: relative;
    float: right;
    right: 100px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 13px 27px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.topbanner{
	position: relative;
	text-align: center;
    top:-100px;
}
.topbanner img{
	width:100%;
    position: relative;
    
}

.hotnews{
    position: relative;
    top: -80px;
    max-width: 1000px;
    height: 25px;
    margin:auto;
    overflow: hidden;
}


.hot{
    max-width: 970px;
    margin-left: 30px;
}
.hot p{
    color:#949494;
    position: absolute;
    max-width: 960px;
    top: -22px;
   -webkit-animation-duration: 10s;
            animation-duration: 10s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    animation: myMove 10s ease-in-out infinite;
    
}

.order{
    position: relative;
    text-align: center;
    top:-70px;
}

.order ol{
    list-style-type: none;
    display: inline-block;
}

.order ol li{
    display: list-item;
    float: left;
    width: 30%;
    max-width: 30%;
    box-sizing: border-box;
}

.step::after{
  content: '    ';
  position: absolute;
  margin-top:20px;
  color:#7c7c7c;
  width: 15px;
  height: 15px;
  border-top: solid 5px currentColor;
  border-right: solid 5px currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.step:last-child::after {
  content: '';
  display:none;
}

.order h4{
    color: #7c7c7c;
    font-family: 'Handlee', cursive;
}
.introduction{
   
    width: 100%;
    background-color: #e3e3e3;
    padding-bottom: 50px;
    text-align: center;
  

}

.introduction h1{
    color:#e48b00;
    padding-top: 30px;
}

.introduction p{
    max-width: 1000px;
    display: inline-block;
    font-size: 15px;
}
.introduction span{
    max-width: 1000px;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
}